<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>BreakOut</key>
		<true/>
		<key>Command</key>
		<string>openDutPort</string>
		<key>Device</key>
		<string>SELF</string>
		<key>ErrorCode</key>
		<string>FU000</string>
		<key>From</key>
		<string></string>
		<key>HideOrShow</key>
		<string>hide</string>
		<key>Lower</key>
		<string></string>
		<key>PDCA</key>
		<string></string>
		<key>PDCA_TYPE</key>
		<string></string>
		<key>Param</key>
		<string>Write</string>
		<key>ResultSpec</key>
		<string></string>
		<key>ResultType</key>
		<string>string</string>
		<key>RetrySleep</key>
		<integer>0</integer>
		<key>RetryTimes</key>
		<integer>0</integer>
		<key>Skip</key>
		<false/>
		<key>TestItem</key>
		<string>OpenDutPort</string>
		<key>TimeOut</key>
		<integer>3</integer>
		<key>To</key>
		<string></string>
		<key>Unit</key>
		<string></string>
		<key>Upper</key>
		<string></string>
	</dict>
	<dict>
		<key>TestItem</key>
		<string>ClearCoupAddr</string>
		<key>PDCA</key>
		<string>ClearCoupAddr</string>
		<key>PDCA_TYPE</key>
		<string>other</string>
		<key>Device</key>
		<string>DUT</string>
		<key>Command</key>
		<string>[CCLR-B]</string>
		<key>Param</key>
		<string>WriteAndRead</string>
		<key>ResultType</key>
		<string>string</string>
		<key>Lower</key>
		<string></string>
		<key>Upper</key>
		<string></string>
		<key>Unit</key>
		<string></string>
		<key>ErrorCode</key>
		<string>FU000</string>
		<key>ResultSpec</key>
		<string>B</string>
		<key>From</key>
		<string>&lt;cclr-</string>
		<key>To</key>
		<string>&gt;</string>
		<key>HideOrShow</key>
		<string>show</string>
		<key>BreakOut</key>
		<true/>
		<key>TimeOut</key>
		<integer>3</integer>
		<key>RetryTimes</key>
		<integer>2</integer>
		<key>RetrySleep</key>
		<integer>0</integer>
		<key>Skip</key>
		<false/>
	</dict>
	<dict>
		<key>BreakOut</key>
		<true/>
		<key>Command</key>
		<string>resetHW</string>
		<key>Device</key>
		<string>SELF</string>
		<key>ErrorCode</key>
		<string>FU000</string>
		<key>From</key>
		<string></string>
		<key>HideOrShow</key>
		<string>show</string>
		<key>Lower</key>
		<string></string>
		<key>PDCA</key>
		<string>Reset_HW_1</string>
		<key>PDCA_TYPE</key>
		<string>other</string>
		<key>Param</key>
		<string>WriteAndRead</string>
		<key>ResultSpec</key>
		<string></string>
		<key>ResultType</key>
		<string>string</string>
		<key>RetrySleep</key>
		<real>0.5</real>
		<key>RetryTimes</key>
		<integer>3</integer>
		<key>Skip</key>
		<false/>
		<key>TestItem</key>
		<string>Reset_HW_1</string>
		<key>TimeOut</key>
		<integer>5</integer>
		<key>To</key>
		<string></string>
		<key>Unit</key>
		<string></string>
		<key>Upper</key>
		<string></string>
	</dict>
	<dict>
		<key>BreakOut</key>
		<false/>
		<key>Command</key>
		<string>wait:2s</string>
		<key>Device</key>
		<string>SELF</string>
		<key>ErrorCode</key>
		<string>FU000</string>
		<key>From</key>
		<string></string>
		<key>HideOrShow</key>
		<string>hide</string>
		<key>Lower</key>
		<string></string>
		<key>PDCA</key>
		<string></string>
		<key>PDCA_TYPE</key>
		<string></string>
		<key>Param</key>
		<string>Write</string>
		<key>ResultSpec</key>
		<string></string>
		<key>ResultType</key>
		<string>string</string>
		<key>RetrySleep</key>
		<integer>0</integer>
		<key>RetryTimes</key>
		<integer>0</integer>
		<key>Skip</key>
		<false/>
		<key>TestItem</key>
		<string>wait 2s</string>
		<key>TimeOut</key>
		<integer>3</integer>
		<key>To</key>
		<string></string>
		<key>Unit</key>
		<string></string>
		<key>Upper</key>
		<string></string>
	</dict>
	<dict>
		<key>BreakOut</key>
		<true/>
		<key>Command</key>
		<string>[BLS]</string>
		<key>Device</key>
		<string>DUT</string>
		<key>ErrorCode</key>
		<string>FU000</string>
		<key>From</key>
		<string>[BLS]&lt;</string>
		<key>HideOrShow</key>
		<string>show</string>
		<key>Lower</key>
		<string></string>
		<key>PDCA</key>
		<string>CheckBuddyLink_2</string>
		<key>PDCA_TYPE</key>
		<string>other</string>
		<key>Param</key>
		<string>WriteAndRead</string>
		<key>ResultSpec</key>
		<string>bls-1-1</string>
		<key>ResultType</key>
		<string>string</string>
		<key>RetrySleep</key>
		<real>0.5</real>
		<key>RetryTimes</key>
		<integer>5</integer>
		<key>Skip</key>
		<false/>
		<key>TestItem</key>
		<string>CheckBuddyLink_2</string>
		<key>TimeOut</key>
		<integer>5</integer>
		<key>To</key>
		<string>&gt;</string>
		<key>Unit</key>
		<string></string>
		<key>Upper</key>
		<string></string>
	</dict>
	<dict>
		<key>BreakOut</key>
		<true/>
		<key>Command</key>
		<string>[BSYS-R]</string>
		<key>Device</key>
		<string>SELF</string>
		<key>ErrorCode</key>
		<string>FU000</string>
		<key>From</key>
		<string>[BSYS-R]&lt;</string>
		<key>HideOrShow</key>
		<string>show</string>
		<key>Lower</key>
		<string></string>
		<key>PDCA</key>
		<string>Check_FW_R</string>
		<key>PDCA_TYPE</key>
		<string>other</string>
		<key>Param</key>
		<string>WriteAndRead</string>
		<key>ResultSpec</key>
		<string>0.0.1</string>
		<key>ResultType</key>
		<string>string</string>
		<key>RetrySleep</key>
		<real>0.5</real>
		<key>RetryTimes</key>
		<integer>5</integer>
		<key>Skip</key>
		<false/>
		<key>TestItem</key>
		<string>Check_FW_R</string>
		<key>TimeOut</key>
		<integer>5</integer>
		<key>To</key>
		<string>&gt;</string>
		<key>Unit</key>
		<string></string>
		<key>Upper</key>
		<string></string>
	</dict>
	<dict>
		<key>BreakOut</key>
		<true/>
		<key>Command</key>
		<string>[BSYS-L]</string>
		<key>Device</key>
		<string>SELF</string>
		<key>ErrorCode</key>
		<string>FU000</string>
		<key>From</key>
		<string>[BSYS-L]&lt;</string>
		<key>HideOrShow</key>
		<string>show</string>
		<key>Lower</key>
		<string></string>
		<key>PDCA</key>
		<string>Check_FW_L</string>
		<key>PDCA_TYPE</key>
		<string>other</string>
		<key>Param</key>
		<string>WriteAndRead</string>
		<key>ResultSpec</key>
		<string>0.0.1</string>
		<key>ResultType</key>
		<string>string</string>
		<key>RetrySleep</key>
		<real>0.5</real>
		<key>RetryTimes</key>
		<integer>5</integer>
		<key>Skip</key>
		<false/>
		<key>TestItem</key>
		<string>Check_FW_L</string>
		<key>TimeOut</key>
		<integer>5</integer>
		<key>To</key>
		<string>&gt;</string>
		<key>Unit</key>
		<string></string>
		<key>Upper</key>
		<string></string>
	</dict>
	<dict>
		<key>TestItem</key>
		<string>CheckAddr_R</string>
		<key>PDCA</key>
		<string>CheckAddr_R</string>
		<key>PDCA_TYPE</key>
		<string>other</string>
		<key>Device</key>
		<string>SELF</string>
		<key>Command</key>
		<string>checkAddr:R</string>
		<key>Param</key>
		<string>WriteAndRead</string>
		<key>ResultType</key>
		<string>string</string>
		<key>Lower</key>
		<string></string>
		<key>Upper</key>
		<string></string>
		<key>Unit</key>
		<string></string>
		<key>ErrorCode</key>
		<string>FU000</string>
		<key>ResultSpec</key>
		<string></string>
		<key>From</key>
		<string></string>
		<key>To</key>
		<string></string>
		<key>HideOrShow</key>
		<string>show</string>
		<key>BreakOut</key>
		<true/>
		<key>TimeOut</key>
		<integer>3</integer>
		<key>RetryTimes</key>
		<integer>2</integer>
		<key>RetrySleep</key>
		<integer>0</integer>
		<key>Skip</key>
		<false/>
	</dict>
	<dict>
		<key>TestItem</key>
		<string>CheckAddr_L</string>
		<key>PDCA</key>
		<string>CheckAddr_L</string>
		<key>PDCA_TYPE</key>
		<string>other</string>
		<key>Device</key>
		<string>SELF</string>
		<key>Command</key>
		<string>checkAddr:L</string>
		<key>Param</key>
		<string>WriteAndRead</string>
		<key>ResultType</key>
		<string>string</string>
		<key>Lower</key>
		<string></string>
		<key>Upper</key>
		<string></string>
		<key>Unit</key>
		<string></string>
		<key>ErrorCode</key>
		<string>FU000</string>
		<key>ResultSpec</key>
		<string></string>
		<key>From</key>
		<string></string>
		<key>To</key>
		<string></string>
		<key>HideOrShow</key>
		<string>show</string>
		<key>BreakOut</key>
		<true/>
		<key>TimeOut</key>
		<integer>3</integer>
		<key>RetryTimes</key>
		<integer>2</integer>
		<key>RetrySleep</key>
		<integer>0</integer>
		<key>Skip</key>
		<false/>
	</dict>
	<dict>
		<key>TestItem</key>
		<string>CheckCouple</string>
		<key>PDCA</key>
		<string>CheckCouple</string>
		<key>PDCA_TYPE</key>
		<string>other</string>
		<key>Device</key>
		<string>SELF</string>
		<key>Command</key>
		<string>checkCouple</string>
		<key>Param</key>
		<string>WriteAndRead</string>
		<key>ResultType</key>
		<string>string</string>
		<key>Lower</key>
		<string></string>
		<key>Upper</key>
		<string></string>
		<key>Unit</key>
		<string></string>
		<key>ErrorCode</key>
		<string>FU000</string>
		<key>ResultSpec</key>
		<string></string>
		<key>From</key>
		<string></string>
		<key>To</key>
		<string></string>
		<key>HideOrShow</key>
		<string>show</string>
		<key>BreakOut</key>
		<true/>
		<key>TimeOut</key>
		<integer>3</integer>
		<key>RetryTimes</key>
		<integer>4</integer>
		<key>RetrySleep</key>
		<integer>0</integer>
		<key>Skip</key>
		<false/>
	</dict>
	<dict>
		<key>TestItem</key>
		<string>Check_Pair_R</string>
		<key>PDCA</key>
		<string>Check_Pair_R</string>
		<key>PDCA_TYPE</key>
		<string>other</string>
		<key>Device</key>
		<string>SELF</string>
		<key>Command</key>
		<string>checkPair:R</string>
		<key>Param</key>
		<string>WriteAndRead</string>
		<key>ResultType</key>
		<string>string</string>
		<key>Lower</key>
		<string></string>
		<key>Upper</key>
		<string></string>
		<key>Unit</key>
		<string></string>
		<key>ErrorCode</key>
		<string>FU000</string>
		<key>ResultSpec</key>
		<string></string>
		<key>From</key>
		<string></string>
		<key>To</key>
		<string></string>
		<key>HideOrShow</key>
		<string>show</string>
		<key>BreakOut</key>
		<true/>
		<key>TimeOut</key>
		<integer>3</integer>
		<key>RetryTimes</key>
		<integer>2</integer>
		<key>RetrySleep</key>
		<integer>2</integer>
		<key>Skip</key>
		<false/>
	</dict>
	<dict>
		<key>TestItem</key>
		<string>Check_Pair_L</string>
		<key>PDCA</key>
		<string>Check_Pair_L</string>
		<key>PDCA_TYPE</key>
		<string>other</string>
		<key>Device</key>
		<string>SELF</string>
		<key>Command</key>
		<string>checkPair:L</string>
		<key>Param</key>
		<string>WriteAndRead</string>
		<key>ResultType</key>
		<string>string</string>
		<key>Lower</key>
		<string></string>
		<key>Upper</key>
		<string></string>
		<key>Unit</key>
		<string></string>
		<key>ErrorCode</key>
		<string>FU000</string>
		<key>ResultSpec</key>
		<string></string>
		<key>From</key>
		<string></string>
		<key>To</key>
		<string></string>
		<key>HideOrShow</key>
		<string>show</string>
		<key>BreakOut</key>
		<true/>
		<key>TimeOut</key>
		<integer>3</integer>
		<key>RetryTimes</key>
		<integer>2</integer>
		<key>RetrySleep</key>
		<integer>2</integer>
		<key>Skip</key>
		<false/>
	</dict>
	<dict>
		<key>BreakOut</key>
		<true/>
		<key>Command</key>
		<string>[TFL-00000000][TFL]</string>
		<key>Device</key>
		<string>DUT</string>
		<key>ErrorCode</key>
		<string>FU000</string>
		<key>From</key>
		<string>[TFL]&lt;tfl-</string>
		<key>HideOrShow</key>
		<string>show</string>
		<key>Lower</key>
		<string></string>
		<key>PDCA</key>
		<string>Clear_TFL_State</string>
		<key>PDCA_TYPE</key>
		<string>other</string>
		<key>Param</key>
		<string>WriteAndRead</string>
		<key>ResultSpec</key>
		<string>00000000</string>
		<key>ResultType</key>
		<string>string</string>
		<key>RetrySleep</key>
		<integer>0</integer>
		<key>RetryTimes</key>
		<integer>3</integer>
		<key>Skip</key>
		<false/>
		<key>TestItem</key>
		<string>Clear_TFL_State</string>
		<key>TimeOut</key>
		<integer>5</integer>
		<key>To</key>
		<string>&gt;</string>
		<key>Unit</key>
		<string></string>
		<key>Upper</key>
		<string></string>
	</dict>
	<dict>
		<key>BreakOut</key>
		<false/>
		<key>Command</key>
		<string>breakpoint</string>
		<key>Device</key>
		<string>SELF</string>
		<key>ErrorCode</key>
		<string>FU000</string>
		<key>From</key>
		<string></string>
		<key>HideOrShow</key>
		<string>hide</string>
		<key>Lower</key>
		<string></string>
		<key>PDCA</key>
		<string></string>
		<key>PDCA_TYPE</key>
		<string></string>
		<key>Param</key>
		<string>Write</string>
		<key>ResultSpec</key>
		<string></string>
		<key>ResultType</key>
		<string></string>
		<key>RetrySleep</key>
		<integer>0</integer>
		<key>RetryTimes</key>
		<integer>0</integer>
		<key>Skip</key>
		<false/>
		<key>TestItem</key>
		<string>Please close the lid</string>
		<key>TimeOut</key>
		<integer>3</integer>
		<key>To</key>
		<string></string>
		<key>Unit</key>
		<string></string>
		<key>Upper</key>
		<string></string>
	</dict>
	<dict>
		<key>BreakOut</key>
		<true/>
		<key>Command</key>
		<string>[LID]</string>
		<key>Device</key>
		<string>DUT</string>
		<key>ErrorCode</key>
		<string>FU000</string>
		<key>From</key>
		<string>[LID]&lt;lid-</string>
		<key>HideOrShow</key>
		<string>show</string>
		<key>Lower</key>
		<string></string>
		<key>PDCA</key>
		<string>CloseLid</string>
		<key>PDCA_TYPE</key>
		<string>other</string>
		<key>Param</key>
		<string>WriteAndRead</string>
		<key>ResultSpec</key>
		<string>0</string>
		<key>ResultType</key>
		<string>string</string>
		<key>RetrySleep</key>
		<integer>0</integer>
		<key>RetryTimes</key>
		<integer>5</integer>
		<key>Skip</key>
		<false/>
		<key>TestItem</key>
		<string>CloseLid</string>
		<key>TimeOut</key>
		<integer>3</integer>
		<key>To</key>
		<string>&gt;</string>
		<key>Unit</key>
		<string></string>
		<key>Upper</key>
		<string></string>
	</dict>
	<dict>
		<key>BreakOut</key>
		<false/>
		<key>Command</key>
		<string>[SV]</string>
		<key>Device</key>
		<string>DUT</string>
		<key>ErrorCode</key>
		<string>FU000</string>
		<key>From</key>
		<string>[SV]&lt;sv-</string>
		<key>HideOrShow</key>
		<string>hide</string>
		<key>Lower</key>
		<string></string>
		<key>PDCA</key>
		<string></string>
		<key>PDCA_TYPE</key>
		<string></string>
		<key>Param</key>
		<string>WriteAndRead</string>
		<key>ResultSpec</key>
		<string></string>
		<key>ResultType</key>
		<string>string</string>
		<key>RetrySleep</key>
		<integer>0</integer>
		<key>RetryTimes</key>
		<integer>2</integer>
		<key>Skip</key>
		<false/>
		<key>TestItem</key>
		<string>Read_X2B_FV</string>
		<key>TimeOut</key>
		<integer>5</integer>
		<key>To</key>
		<string>&gt;</string>
		<key>Unit</key>
		<string></string>
		<key>Upper</key>
		<string></string>
	</dict>
	<dict>
		<key>BreakOut</key>
		<true/>
		<key>Command</key>
		<string>[SR]</string>
		<key>Device</key>
		<string>DUT</string>
		<key>ErrorCode</key>
		<string>FU000</string>
		<key>From</key>
		<string>B435</string>
		<key>HideOrShow</key>
		<string>hide</string>
		<key>Lower</key>
		<string></string>
		<key>PDCA</key>
		<string></string>
		<key>PDCA_TYPE</key>
		<string></string>
		<key>Param</key>
		<string>WriteAndRead</string>
		<key>ResultSpec</key>
		<string></string>
		<key>ResultType</key>
		<string>string</string>
		<key>RetrySleep</key>
		<integer>0</integer>
		<key>RetryTimes</key>
		<integer>0</integer>
		<key>Skip</key>
		<false/>
		<key>TestItem</key>
		<string>Reset_SW</string>
		<key>TimeOut</key>
		<integer>5</integer>
		<key>To</key>
		<string>Application</string>
		<key>Unit</key>
		<string></string>
		<key>Upper</key>
		<string></string>
	</dict>
	<dict>
		<key>BreakOut</key>
		<true/>
		<key>Command</key>
		<string>setShipping</string>
		<key>Device</key>
		<string>SELF</string>
		<key>ErrorCode</key>
		<string>FU000</string>
		<key>From</key>
		<string></string>
		<key>HideOrShow</key>
		<string>show</string>
		<key>Lower</key>
		<string></string>
		<key>PDCA</key>
		<string>SetShipping</string>
		<key>PDCA_TYPE</key>
		<string>other</string>
		<key>Param</key>
		<string>WriteAndRead</string>
		<key>ResultSpec</key>
		<string></string>
		<key>ResultType</key>
		<string>string</string>
		<key>RetrySleep</key>
		<real>0.5</real>
		<key>RetryTimes</key>
		<integer>3</integer>
		<key>Skip</key>
		<false/>
		<key>TestItem</key>
		<string>SetShipping</string>
		<key>TimeOut</key>
		<integer>5</integer>
		<key>To</key>
		<string></string>
		<key>Unit</key>
		<string></string>
		<key>Upper</key>
		<string></string>
	</dict>
	<dict>
		<key>BreakOut</key>
		<false/>
		<key>Command</key>
		<string>closeDutPort</string>
		<key>Device</key>
		<string>SELF</string>
		<key>ErrorCode</key>
		<string>FU000</string>
		<key>From</key>
		<string></string>
		<key>HideOrShow</key>
		<string>hide</string>
		<key>Lower</key>
		<string></string>
		<key>PDCA</key>
		<string></string>
		<key>PDCA_TYPE</key>
		<string></string>
		<key>Param</key>
		<string>Write</string>
		<key>ResultSpec</key>
		<string></string>
		<key>ResultType</key>
		<string>string</string>
		<key>RetrySleep</key>
		<integer>0</integer>
		<key>RetryTimes</key>
		<integer>0</integer>
		<key>Skip</key>
		<false/>
		<key>TestItem</key>
		<string>CloseDutPort</string>
		<key>TimeOut</key>
		<integer>3</integer>
		<key>To</key>
		<string></string>
		<key>Unit</key>
		<string></string>
		<key>Upper</key>
		<string></string>
	</dict>
	<dict>
		<key>BreakOut</key>
		<true/>
		<key>Command</key>
		<string>finishWorkHandler</string>
		<key>Device</key>
		<string>SELF</string>
		<key>ErrorCode</key>
		<string>FU000</string>
		<key>From</key>
		<string></string>
		<key>HideOrShow</key>
		<string>show</string>
		<key>Lower</key>
		<string></string>
		<key>PDCA</key>
		<string>finishWorkHandler</string>
		<key>PDCA_TYPE</key>
		<string>other</string>
		<key>Param</key>
		<string>WriteAndRead</string>
		<key>ResultSpec</key>
		<string></string>
		<key>ResultType</key>
		<string>other</string>
		<key>RetrySleep</key>
		<integer>0</integer>
		<key>RetryTimes</key>
		<integer>0</integer>
		<key>Skip</key>
		<false/>
		<key>TestItem</key>
		<string>finishWorkHandler</string>
		<key>TimeOut</key>
		<integer>3</integer>
		<key>To</key>
		<string></string>
		<key>Unit</key>
		<string></string>
		<key>Upper</key>
		<string></string>
	</dict>
</array>
</plist>
