<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>TestItem</key>
		<string>Set Power1 To 4.3V</string>
		<key>PDCA</key>
		<string></string>
		<key>PDCA_TYPE</key>
		<string></string>
		<key>Device</key>
		<string>POWER</string>
		<key>Command</key>
		<string>SOUR:VOLT 4.3</string>
		<key>Param</key>
		<string>Write</string>
		<key>ResultType</key>
		<string></string>
		<key>Lower</key>
		<string></string>
		<key>Upper</key>
		<string></string>
		<key>Unit</key>
		<string></string>
		<key>ErrorCode</key>
		<string>FU000</string>
		<key>ResultSpec</key>
		<string></string>
		<key>From</key>
		<string></string>
		<key>To</key>
		<string></string>
		<key>HideOrShow</key>
		<string>show</string>
		<key>BreakOut</key>
		<false/>
		<key>TimeOut</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>TestItem</key>
		<string>Set Power1 On</string>
		<key>PDCA</key>
		<string></string>
		<key>PDCA_TYPE</key>
		<string></string>
		<key>Device</key>
		<string>POWER</string>
		<key>Command</key>
		<string>OUTP:STATe 1</string>
		<key>Param</key>
		<string>Write</string>
		<key>ResultType</key>
		<string>string</string>
		<key>Lower</key>
		<string></string>
		<key>Upper</key>
		<string></string>
		<key>Unit</key>
		<string></string>
		<key>ErrorCode</key>
		<string>FU000</string>
		<key>ResultSpec</key>
		<string></string>
		<key>From</key>
		<string></string>
		<key>To</key>
		<string></string>
		<key>HideOrShow</key>
		<string>show</string>
		<key>BreakOut</key>
		<false/>
		<key>TimeOut</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>TestItem</key>
		<string>Start1</string>
		<key>PDCA</key>
		<string></string>
		<key>PDCA_TYPE</key>
		<string></string>
		<key>Device</key>
		<string>MCU</string>
		<key>Command</key>
		<string>#St*</string>
		<key>Param</key>
		<string>WriteAndRead</string>
		<key>ResultType</key>
		<string>string</string>
		<key>Lower</key>
		<string></string>
		<key>Upper</key>
		<string></string>
		<key>Unit</key>
		<string></string>
		<key>ErrorCode</key>
		<string>FU000</string>
		<key>ResultSpec</key>
		<string>OK</string>
		<key>From</key>
		<string>#</string>
		<key>To</key>
		<string>*</string>
		<key>HideOrShow</key>
		<string>show</string>
		<key>BreakOut</key>
		<false/>
		<key>TimeOut</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>TestItem</key>
		<string>Short BATT_PAD_NEG To GND</string>
		<key>PDCA</key>
		<string></string>
		<key>PDCA_TYPE</key>
		<string></string>
		<key>Device</key>
		<string>MCU</string>
		<key>Command</key>
		<string>#Short*</string>
		<key>Param</key>
		<string>WriteAndRead</string>
		<key>ResultType</key>
		<string>string</string>
		<key>Lower</key>
		<string></string>
		<key>Upper</key>
		<string></string>
		<key>Unit</key>
		<string></string>
		<key>ErrorCode</key>
		<string>FU000</string>
		<key>ResultSpec</key>
		<string>ShortOK</string>
		<key>From</key>
		<string>#</string>
		<key>To</key>
		<string>*</string>
		<key>HideOrShow</key>
		<string>show</string>
		<key>BreakOut</key>
		<false/>
		<key>TimeOut</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>TestItem</key>
		<string>Wait 1s</string>
		<key>PDCA</key>
		<string></string>
		<key>PDCA_TYPE</key>
		<string></string>
		<key>Device</key>
		<string>SELF</string>
		<key>Command</key>
		<string>wait:1s</string>
		<key>Param</key>
		<string>Write</string>
		<key>ResultType</key>
		<string></string>
		<key>Lower</key>
		<string></string>
		<key>Upper</key>
		<string></string>
		<key>Unit</key>
		<string></string>
		<key>ErrorCode</key>
		<string>FU000</string>
		<key>ResultSpec</key>
		<string></string>
		<key>From</key>
		<string></string>
		<key>To</key>
		<string></string>
		<key>HideOrShow</key>
		<string>show</string>
		<key>BreakOut</key>
		<false/>
		<key>TimeOut</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>TestItem</key>
		<string>Open BATT_PAD_NEG To GND</string>
		<key>PDCA</key>
		<string></string>
		<key>PDCA_TYPE</key>
		<string></string>
		<key>Device</key>
		<string>MCU</string>
		<key>Command</key>
		<string>#Open*</string>
		<key>Param</key>
		<string>WriteAndRead</string>
		<key>ResultType</key>
		<string>string</string>
		<key>Lower</key>
		<string></string>
		<key>Upper</key>
		<string></string>
		<key>Unit</key>
		<string></string>
		<key>ErrorCode</key>
		<string>FU000</string>
		<key>ResultSpec</key>
		<string>OpenOK</string>
		<key>From</key>
		<string>#</string>
		<key>To</key>
		<string>*</string>
		<key>HideOrShow</key>
		<string>show</string>
		<key>BreakOut</key>
		<false/>
		<key>TimeOut</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>TestItem</key>
		<string>Set Power1 To 2.7V</string>
		<key>PDCA</key>
		<string></string>
		<key>PDCA_TYPE</key>
		<string></string>
		<key>Device</key>
		<string>POWER</string>
		<key>Command</key>
		<string>SOUR:VOLT 2.7</string>
		<key>Param</key>
		<string>Write</string>
		<key>ResultType</key>
		<string></string>
		<key>Lower</key>
		<string></string>
		<key>Upper</key>
		<string></string>
		<key>Unit</key>
		<string></string>
		<key>ErrorCode</key>
		<string>FU000</string>
		<key>ResultSpec</key>
		<string></string>
		<key>From</key>
		<string></string>
		<key>To</key>
		<string></string>
		<key>HideOrShow</key>
		<string>show</string>
		<key>BreakOut</key>
		<false/>
		<key>TimeOut</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>TestItem</key>
		<string>Set MCU Voltage1</string>
		<key>PDCA</key>
		<string></string>
		<key>PDCA_TYPE</key>
		<string></string>
		<key>Device</key>
		<string>MCU</string>
		<key>Command</key>
		<string>#Vol1*</string>
		<key>Param</key>
		<string>WriteAndRead</string>
		<key>ResultType</key>
		<string>string</string>
		<key>Lower</key>
		<string></string>
		<key>Upper</key>
		<string></string>
		<key>Unit</key>
		<string></string>
		<key>ErrorCode</key>
		<string>FU000</string>
		<key>ResultSpec</key>
		<string>Vol1OK</string>
		<key>From</key>
		<string>#</string>
		<key>To</key>
		<string>*</string>
		<key>HideOrShow</key>
		<string>show</string>
		<key>BreakOut</key>
		<false/>
		<key>TimeOut</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>TestItem</key>
		<string>Set 34465A1 Voltage1</string>
		<key>PDCA</key>
		<string></string>
		<key>PDCA_TYPE</key>
		<string></string>
		<key>Device</key>
		<string>INST</string>
		<key>Command</key>
		<string>CONF:VOLT:DC 10</string>
		<key>Param</key>
		<string>Write</string>
		<key>ResultType</key>
		<string>value</string>
		<key>Lower</key>
		<string></string>
		<key>Upper</key>
		<string></string>
		<key>Unit</key>
		<string></string>
		<key>ErrorCode</key>
		<string>FU000</string>
		<key>ResultSpec</key>
		<string></string>
		<key>From</key>
		<string></string>
		<key>To</key>
		<string></string>
		<key>HideOrShow</key>
		<string>show</string>
		<key>BreakOut</key>
		<false/>
		<key>TimeOut</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>TestItem</key>
		<string>Wait 1s</string>
		<key>PDCA</key>
		<string></string>
		<key>PDCA_TYPE</key>
		<string></string>
		<key>Device</key>
		<string>SELF</string>
		<key>Command</key>
		<string>wait:1s</string>
		<key>Param</key>
		<string>Write</string>
		<key>ResultType</key>
		<string></string>
		<key>Lower</key>
		<string></string>
		<key>Upper</key>
		<string></string>
		<key>Unit</key>
		<string></string>
		<key>ErrorCode</key>
		<string>FU000</string>
		<key>ResultSpec</key>
		<string></string>
		<key>From</key>
		<string></string>
		<key>To</key>
		<string></string>
		<key>HideOrShow</key>
		<string>show</string>
		<key>BreakOut</key>
		<false/>
		<key>TimeOut</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>TestItem</key>
		<string>Record Voltage1</string>
		<key>PDCA</key>
		<string></string>
		<key>PDCA_TYPE</key>
		<string></string>
		<key>Device</key>
		<string>INST</string>
		<key>Command</key>
		<string>INIT;FETC?</string>
		<key>Param</key>
		<string>WriteAndRead</string>
		<key>ResultType</key>
		<string>value</string>
		<key>Lower</key>
		<string>2.65</string>
		<key>Upper</key>
		<string>2.75</string>
		<key>Unit</key>
		<string>v</string>
		<key>ErrorCode</key>
		<string>FU000</string>
		<key>ResultSpec</key>
		<string></string>
		<key>From</key>
		<string></string>
		<key>To</key>
		<string></string>
		<key>HideOrShow</key>
		<string>show</string>
		<key>BreakOut</key>
		<false/>
		<key>TimeOut</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>TestItem</key>
		<string>Set MCU Currrent1</string>
		<key>PDCA</key>
		<string></string>
		<key>PDCA_TYPE</key>
		<string></string>
		<key>Device</key>
		<string>MCU</string>
		<key>Command</key>
		<string>#Current1*</string>
		<key>Param</key>
		<string>WriteAndRead</string>
		<key>ResultType</key>
		<string>string</string>
		<key>Lower</key>
		<string></string>
		<key>Upper</key>
		<string></string>
		<key>Unit</key>
		<string></string>
		<key>ErrorCode</key>
		<string>FU000</string>
		<key>ResultSpec</key>
		<string>Current1OK</string>
		<key>From</key>
		<string>#</string>
		<key>To</key>
		<string>*</string>
		<key>HideOrShow</key>
		<string>show</string>
		<key>BreakOut</key>
		<false/>
		<key>TimeOut</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>TestItem</key>
		<string>Set 34465A1 Current1</string>
		<key>PDCA</key>
		<string></string>
		<key>PDCA_TYPE</key>
		<string></string>
		<key>Device</key>
		<string>INST</string>
		<key>Command</key>
		<string>CONF:CURR:DC 0.1</string>
		<key>Param</key>
		<string>Write</string>
		<key>ResultType</key>
		<string>value</string>
		<key>Lower</key>
		<string></string>
		<key>Upper</key>
		<string></string>
		<key>Unit</key>
		<string></string>
		<key>ErrorCode</key>
		<string>FU000</string>
		<key>ResultSpec</key>
		<string></string>
		<key>From</key>
		<string></string>
		<key>To</key>
		<string></string>
		<key>HideOrShow</key>
		<string>show</string>
		<key>BreakOut</key>
		<false/>
		<key>TimeOut</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>TestItem</key>
		<string>Record Current1</string>
		<key>PDCA</key>
		<string></string>
		<key>PDCA_TYPE</key>
		<string></string>
		<key>Device</key>
		<string>INST</string>
		<key>Command</key>
		<string>INIT;FETC?</string>
		<key>Param</key>
		<string>WriteAndRead</string>
		<key>ResultType</key>
		<string>value</string>
		<key>Lower</key>
		<string>3</string>
		<key>Upper</key>
		<string>5</string>
		<key>Unit</key>
		<string>mA</string>
		<key>ErrorCode</key>
		<string>FU000</string>
		<key>ResultSpec</key>
		<string></string>
		<key>From</key>
		<string></string>
		<key>To</key>
		<string></string>
		<key>HideOrShow</key>
		<string>show</string>
		<key>BreakOut</key>
		<false/>
		<key>TimeOut</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>TestItem</key>
		<string>Set Power1 2.5V</string>
		<key>PDCA</key>
		<string></string>
		<key>PDCA_TYPE</key>
		<string></string>
		<key>Device</key>
		<string>POWER</string>
		<key>Command</key>
		<string>SOUR:VOLT 2.5</string>
		<key>Param</key>
		<string>Write</string>
		<key>ResultType</key>
		<string></string>
		<key>Lower</key>
		<string></string>
		<key>Upper</key>
		<string></string>
		<key>Unit</key>
		<string></string>
		<key>ErrorCode</key>
		<string>FU000</string>
		<key>ResultSpec</key>
		<string></string>
		<key>From</key>
		<string></string>
		<key>To</key>
		<string></string>
		<key>HideOrShow</key>
		<string>show</string>
		<key>BreakOut</key>
		<false/>
		<key>TimeOut</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>TestItem</key>
		<string>Wait 5s</string>
		<key>PDCA</key>
		<string></string>
		<key>PDCA_TYPE</key>
		<string></string>
		<key>Device</key>
		<string>SELF</string>
		<key>Command</key>
		<string>wait:5s</string>
		<key>Param</key>
		<string>Write</string>
		<key>ResultType</key>
		<string></string>
		<key>Lower</key>
		<string></string>
		<key>Upper</key>
		<string></string>
		<key>Unit</key>
		<string></string>
		<key>ErrorCode</key>
		<string>FU000</string>
		<key>ResultSpec</key>
		<string></string>
		<key>From</key>
		<string></string>
		<key>To</key>
		<string></string>
		<key>HideOrShow</key>
		<string>show</string>
		<key>BreakOut</key>
		<false/>
		<key>TimeOut</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>TestItem</key>
		<string>Record 34465A1 Voltage2</string>
		<key>PDCA</key>
		<string></string>
		<key>PDCA_TYPE</key>
		<string></string>
		<key>Device</key>
		<string>INST</string>
		<key>Command</key>
		<string>INIT;FETC?</string>
		<key>Param</key>
		<string>WriteAndRead</string>
		<key>ResultType</key>
		<string>value</string>
		<key>Lower</key>
		<string></string>
		<key>Upper</key>
		<string></string>
		<key>Unit</key>
		<string>mA</string>
		<key>ErrorCode</key>
		<string>FU000</string>
		<key>ResultSpec</key>
		<string></string>
		<key>From</key>
		<string></string>
		<key>To</key>
		<string></string>
		<key>HideOrShow</key>
		<string>show</string>
		<key>BreakOut</key>
		<false/>
		<key>TimeOut</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>TestItem</key>
		<string>Set MCU Current2</string>
		<key>PDCA</key>
		<string></string>
		<key>PDCA_TYPE</key>
		<string></string>
		<key>Device</key>
		<string>MCU</string>
		<key>Command</key>
		<string>#Current2*</string>
		<key>Param</key>
		<string>WriteAndRead</string>
		<key>ResultType</key>
		<string>string</string>
		<key>Lower</key>
		<string></string>
		<key>Upper</key>
		<string></string>
		<key>Unit</key>
		<string></string>
		<key>ErrorCode</key>
		<string>FU000</string>
		<key>ResultSpec</key>
		<string>Current2OK</string>
		<key>From</key>
		<string>#</string>
		<key>To</key>
		<string>*</string>
		<key>HideOrShow</key>
		<string>show</string>
		<key>BreakOut</key>
		<false/>
		<key>TimeOut</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>TestItem</key>
		<string>Set 34465A1 current2</string>
		<key>PDCA</key>
		<string></string>
		<key>PDCA_TYPE</key>
		<string></string>
		<key>Device</key>
		<string>INST</string>
		<key>Command</key>
		<string>CONF:CURR:DC 0.1</string>
		<key>Param</key>
		<string>Write</string>
		<key>ResultType</key>
		<string>value</string>
		<key>Lower</key>
		<string></string>
		<key>Upper</key>
		<string></string>
		<key>Unit</key>
		<string></string>
		<key>ErrorCode</key>
		<string>FU000</string>
		<key>ResultSpec</key>
		<string></string>
		<key>From</key>
		<string></string>
		<key>To</key>
		<string></string>
		<key>HideOrShow</key>
		<string>show</string>
		<key>BreakOut</key>
		<false/>
		<key>TimeOut</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>TestItem</key>
		<string>Record current2</string>
		<key>PDCA</key>
		<string></string>
		<key>PDCA_TYPE</key>
		<string></string>
		<key>Device</key>
		<string>INST</string>
		<key>Command</key>
		<string>INIT;FETC?</string>
		<key>Param</key>
		<string>WriteAndRead</string>
		<key>ResultType</key>
		<string>value</string>
		<key>Lower</key>
		<string></string>
		<key>Upper</key>
		<string></string>
		<key>Unit</key>
		<string>mA</string>
		<key>ErrorCode</key>
		<string>FU000</string>
		<key>ResultSpec</key>
		<string></string>
		<key>From</key>
		<string></string>
		<key>To</key>
		<string></string>
		<key>HideOrShow</key>
		<string>show</string>
		<key>BreakOut</key>
		<false/>
		<key>TimeOut</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>TestItem</key>
		<string>reset</string>
		<key>PDCA</key>
		<string></string>
		<key>PDCA_TYPE</key>
		<string></string>
		<key>Device</key>
		<string>MCU</string>
		<key>Command</key>
		<string>#Reset*</string>
		<key>Param</key>
		<string>WriteAndRead</string>
		<key>ResultType</key>
		<string>string</string>
		<key>Lower</key>
		<string></string>
		<key>Upper</key>
		<string></string>
		<key>Unit</key>
		<string></string>
		<key>ErrorCode</key>
		<string>FU000</string>
		<key>ResultSpec</key>
		<string>ResetOK</string>
		<key>From</key>
		<string>#</string>
		<key>To</key>
		<string>*</string>
		<key>HideOrShow</key>
		<string>show</string>
		<key>BreakOut</key>
		<false/>
		<key>TimeOut</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>TestItem</key>
		<string>Set Power Off</string>
		<key>PDCA</key>
		<string></string>
		<key>PDCA_TYPE</key>
		<string></string>
		<key>Device</key>
		<string>POWER</string>
		<key>Command</key>
		<string>OUTP:STATe 0</string>
		<key>Param</key>
		<string>Write</string>
		<key>ResultType</key>
		<string>string</string>
		<key>Lower</key>
		<string></string>
		<key>Upper</key>
		<string></string>
		<key>Unit</key>
		<string></string>
		<key>ErrorCode</key>
		<string>FU000</string>
		<key>ResultSpec</key>
		<string></string>
		<key>From</key>
		<string></string>
		<key>To</key>
		<string></string>
		<key>HideOrShow</key>
		<string>show</string>
		<key>BreakOut</key>
		<false/>
		<key>TimeOut</key>
		<integer>3</integer>
	</dict>
</array>
</plist>
