<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>TestItem</key>
		<string>Get Device</string>
		<key>PDCA</key>
		<string></string>
		<key>PDCA_TYPE</key>
		<string></string>
		<key>Device</key>
		<string>POWER</string>
		<key>Command</key>
		<string>*IDN?</string>
		<key>Param</key>
		<string>WriteAndRead</string>
		<key>ResultType</key>
		<string>string</string>
		<key>Lower</key>
		<string></string>
		<key>Upper</key>
		<string></string>
		<key>Unit</key>
		<string></string>
		<key>ErrorCode</key>
		<string>FU000</string>
		<key>ResultSpec</key>
		<string></string>
		<key>From</key>
		<string></string>
		<key>To</key>
		<string></string>
		<key>HideOrShow</key>
		<string>show</string>
	</dict>
	<dict>
		<key>TestItem</key>
		<string>Set Power 5V</string>
		<key>PDCA</key>
		<string></string>
		<key>PDCA_TYPE</key>
		<string></string>
		<key>Device</key>
		<string>POWER</string>
		<key>Command</key>
		<string>SOUR:VOLT 5</string>
		<key>Param</key>
		<string>Write</string>
		<key>ResultType</key>
		<string></string>
		<key>Lower</key>
		<string></string>
		<key>Upper</key>
		<string></string>
		<key>Unit</key>
		<string></string>
		<key>ErrorCode</key>
		<string>FU000</string>
		<key>ResultSpec</key>
		<string></string>
		<key>From</key>
		<string></string>
		<key>To</key>
		<string></string>
		<key>HideOrShow</key>
		<string>show</string>
	</dict>
	<dict>
		<key>TestItem</key>
		<string>Set Power On</string>
		<key>PDCA</key>
		<string></string>
		<key>PDCA_TYPE</key>
		<string></string>
		<key>Device</key>
		<string>POWER</string>
		<key>Command</key>
		<string>OUTP:STATe 1</string>
		<key>Param</key>
		<string>Write</string>
		<key>ResultType</key>
		<string>string</string>
		<key>Lower</key>
		<string></string>
		<key>Upper</key>
		<string></string>
		<key>Unit</key>
		<string></string>
		<key>ErrorCode</key>
		<string>FU000</string>
		<key>ResultSpec</key>
		<string></string>
		<key>From</key>
		<string></string>
		<key>To</key>
		<string></string>
		<key>HideOrShow</key>
		<string>show</string>
	</dict>
	<dict>
		<key>TestItem</key>
		<string>Wait 5s</string>
		<key>PDCA</key>
		<string></string>
		<key>PDCA_TYPE</key>
		<string></string>
		<key>Device</key>
		<string>SELF</string>
		<key>Command</key>
		<string>wait:5s</string>
		<key>Param</key>
		<string>Write</string>
		<key>ResultType</key>
		<string></string>
		<key>Lower</key>
		<string></string>
		<key>Upper</key>
		<string></string>
		<key>Unit</key>
		<string></string>
		<key>ErrorCode</key>
		<string>FU000</string>
		<key>ResultSpec</key>
		<string></string>
		<key>From</key>
		<string></string>
		<key>To</key>
		<string></string>
		<key>HideOrShow</key>
		<string>show</string>
	</dict>
	<dict>
		<key>TestItem</key>
		<string>Set Power Off</string>
		<key>PDCA</key>
		<string></string>
		<key>PDCA_TYPE</key>
		<string></string>
		<key>Device</key>
		<string>POWER</string>
		<key>Command</key>
		<string>OUTP:STATe 0</string>
		<key>Param</key>
		<string>Write</string>
		<key>ResultType</key>
		<string>string</string>
		<key>Lower</key>
		<string></string>
		<key>Upper</key>
		<string></string>
		<key>Unit</key>
		<string></string>
		<key>ErrorCode</key>
		<string>FU000</string>
		<key>ResultSpec</key>
		<string></string>
		<key>From</key>
		<string></string>
		<key>To</key>
		<string></string>
		<key>HideOrShow</key>
		<string>show</string>
	</dict>
</array>
</plist>
