<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>TestItem</key>
		<string>Set Power 4.3V</string>
		<key>PDCA</key>
		<string></string>
		<key>PDCA_TYPE</key>
		<string></string>
		<key>Device</key>
		<string>POWER</string>
		<key>Command</key>
		<string>SOUR:VOLT 4.3</string>
		<key>Param</key>
		<string>Write</string>
		<key>ResultType</key>
		<string></string>
		<key>Lower</key>
		<string></string>
		<key>Upper</key>
		<string></string>
		<key>Unit</key>
		<string></string>
		<key>ErrorCode</key>
		<string>FU000</string>
		<key>ResultSpec</key>
		<string></string>
		<key>From</key>
		<string></string>
		<key>To</key>
		<string></string>
		<key>HideOrShow</key>
		<string>show</string>
		<key>BreakOut</key>
		<false/>
		<key>TimeOut</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>TestItem</key>
		<string>Set Power On</string>
		<key>PDCA</key>
		<string></string>
		<key>PDCA_TYPE</key>
		<string></string>
		<key>Device</key>
		<string>POWER</string>
		<key>Command</key>
		<string>OUTP:STATe 1</string>
		<key>Param</key>
		<string>Write</string>
		<key>ResultType</key>
		<string>string</string>
		<key>Lower</key>
		<string></string>
		<key>Upper</key>
		<string></string>
		<key>Unit</key>
		<string></string>
		<key>ErrorCode</key>
		<string>FU000</string>
		<key>ResultSpec</key>
		<string></string>
		<key>From</key>
		<string></string>
		<key>To</key>
		<string></string>
		<key>HideOrShow</key>
		<string>show</string>
		<key>BreakOut</key>
		<false/>
		<key>TimeOut</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>TestItem</key>
		<string>start</string>
		<key>PDCA</key>
		<string></string>
		<key>PDCA_TYPE</key>
		<string></string>
		<key>Device</key>
		<string>MCU</string>
		<key>Command</key>
		<string>#St*</string>
		<key>Param</key>
		<string>WriteAndRead</string>
		<key>ResultType</key>
		<string>string</string>
		<key>Lower</key>
		<string></string>
		<key>Upper</key>
		<string></string>
		<key>Unit</key>
		<string></string>
		<key>ErrorCode</key>
		<string>FU000</string>
		<key>ResultSpec</key>
		<string>OK</string>
		<key>From</key>
		<string>#</string>
		<key>To</key>
		<string>*</string>
		<key>HideOrShow</key>
		<string>show</string>
		<key>BreakOut</key>
		<false/>
		<key>TimeOut</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>TestItem</key>
		<string>short</string>
		<key>PDCA</key>
		<string></string>
		<key>PDCA_TYPE</key>
		<string></string>
		<key>Device</key>
		<string>MCU</string>
		<key>Command</key>
		<string>#Short*</string>
		<key>Param</key>
		<string>WriteAndRead</string>
		<key>ResultType</key>
		<string>string</string>
		<key>Lower</key>
		<string></string>
		<key>Upper</key>
		<string></string>
		<key>Unit</key>
		<string></string>
		<key>ErrorCode</key>
		<string>FU000</string>
		<key>ResultSpec</key>
		<string>ShortOK</string>
		<key>From</key>
		<string>#</string>
		<key>To</key>
		<string>*</string>
		<key>HideOrShow</key>
		<string>show</string>
		<key>BreakOut</key>
		<false/>
		<key>TimeOut</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>TestItem</key>
		<string>open</string>
		<key>PDCA</key>
		<string></string>
		<key>PDCA_TYPE</key>
		<string></string>
		<key>Device</key>
		<string>MCU</string>
		<key>Command</key>
		<string>#Open*</string>
		<key>Param</key>
		<string>WriteAndRead</string>
		<key>ResultType</key>
		<string>string</string>
		<key>Lower</key>
		<string></string>
		<key>Upper</key>
		<string></string>
		<key>Unit</key>
		<string></string>
		<key>ErrorCode</key>
		<string>FU000</string>
		<key>ResultSpec</key>
		<string>OpenOK</string>
		<key>From</key>
		<string>#</string>
		<key>To</key>
		<string>*</string>
		<key>HideOrShow</key>
		<string>show</string>
		<key>BreakOut</key>
		<false/>
		<key>TimeOut</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>TestItem</key>
		<string>Set Power 2.7V</string>
		<key>PDCA</key>
		<string></string>
		<key>PDCA_TYPE</key>
		<string></string>
		<key>Device</key>
		<string>POWER</string>
		<key>Command</key>
		<string>SOUR:VOLT 2.7</string>
		<key>Param</key>
		<string>Write</string>
		<key>ResultType</key>
		<string></string>
		<key>Lower</key>
		<string></string>
		<key>Upper</key>
		<string></string>
		<key>Unit</key>
		<string></string>
		<key>ErrorCode</key>
		<string>FU000</string>
		<key>ResultSpec</key>
		<string></string>
		<key>From</key>
		<string></string>
		<key>To</key>
		<string></string>
		<key>HideOrShow</key>
		<string>show</string>
		<key>BreakOut</key>
		<false/>
		<key>TimeOut</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>TestItem</key>
		<string>Wait 2s</string>
		<key>PDCA</key>
		<string></string>
		<key>PDCA_TYPE</key>
		<string></string>
		<key>Device</key>
		<string>SELF</string>
		<key>Command</key>
		<string>wait:2s</string>
		<key>Param</key>
		<string>Write</string>
		<key>ResultType</key>
		<string></string>
		<key>Lower</key>
		<string></string>
		<key>Upper</key>
		<string></string>
		<key>Unit</key>
		<string></string>
		<key>ErrorCode</key>
		<string>FU000</string>
		<key>ResultSpec</key>
		<string></string>
		<key>From</key>
		<string></string>
		<key>To</key>
		<string></string>
		<key>HideOrShow</key>
		<string>show</string>
		<key>BreakOut</key>
		<false/>
		<key>TimeOut</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>TestItem</key>
		<string>Voltage1</string>
		<key>PDCA</key>
		<string></string>
		<key>PDCA_TYPE</key>
		<string></string>
		<key>Device</key>
		<string>MCU</string>
		<key>Command</key>
		<string>#Vol1*</string>
		<key>Param</key>
		<string>WriteAndRead</string>
		<key>ResultType</key>
		<string>string</string>
		<key>Lower</key>
		<string></string>
		<key>Upper</key>
		<string></string>
		<key>Unit</key>
		<string></string>
		<key>ErrorCode</key>
		<string>FU000</string>
		<key>ResultSpec</key>
		<string>Vol1OK</string>
		<key>From</key>
		<string>#</string>
		<key>To</key>
		<string>*</string>
		<key>HideOrShow</key>
		<string>show</string>
		<key>BreakOut</key>
		<false/>
		<key>TimeOut</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>TestItem</key>
		<string>config vol1</string>
		<key>PDCA</key>
		<string></string>
		<key>PDCA_TYPE</key>
		<string></string>
		<key>Device</key>
		<string>INST</string>
		<key>Command</key>
		<string>CONF:VOLT:DC 10</string>
		<key>Param</key>
		<string>Write</string>
		<key>ResultType</key>
		<string>value</string>
		<key>Lower</key>
		<string></string>
		<key>Upper</key>
		<string></string>
		<key>Unit</key>
		<string></string>
		<key>ErrorCode</key>
		<string>FU000</string>
		<key>ResultSpec</key>
		<string></string>
		<key>From</key>
		<string></string>
		<key>To</key>
		<string></string>
		<key>HideOrShow</key>
		<string>show</string>
		<key>BreakOut</key>
		<false/>
		<key>TimeOut</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>TestItem</key>
		<string>vol1</string>
		<key>PDCA</key>
		<string></string>
		<key>PDCA_TYPE</key>
		<string></string>
		<key>Device</key>
		<string>INST</string>
		<key>Command</key>
		<string>INIT;FETC?</string>
		<key>Param</key>
		<string>WriteAndRead</string>
		<key>ResultType</key>
		<string>value</string>
		<key>Lower</key>
		<string>2.65</string>
		<key>Upper</key>
		<string>2.75</string>
		<key>Unit</key>
		<string>v</string>
		<key>ErrorCode</key>
		<string>FU000</string>
		<key>ResultSpec</key>
		<string></string>
		<key>From</key>
		<string></string>
		<key>To</key>
		<string></string>
		<key>HideOrShow</key>
		<string>show</string>
		<key>BreakOut</key>
		<false/>
		<key>TimeOut</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>TestItem</key>
		<string>Currrent1</string>
		<key>PDCA</key>
		<string></string>
		<key>PDCA_TYPE</key>
		<string></string>
		<key>Device</key>
		<string>MCU</string>
		<key>Command</key>
		<string>#Current1*</string>
		<key>Param</key>
		<string>WriteAndRead</string>
		<key>ResultType</key>
		<string>string</string>
		<key>Lower</key>
		<string></string>
		<key>Upper</key>
		<string></string>
		<key>Unit</key>
		<string></string>
		<key>ErrorCode</key>
		<string>FU000</string>
		<key>ResultSpec</key>
		<string>Current1OK</string>
		<key>From</key>
		<string>#</string>
		<key>To</key>
		<string>*</string>
		<key>HideOrShow</key>
		<string>show</string>
		<key>BreakOut</key>
		<false/>
		<key>TimeOut</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>TestItem</key>
		<string>config curr1</string>
		<key>PDCA</key>
		<string></string>
		<key>PDCA_TYPE</key>
		<string></string>
		<key>Device</key>
		<string>INST</string>
		<key>Command</key>
		<string>CONF:CURR:DC 0.1</string>
		<key>Param</key>
		<string>Write</string>
		<key>ResultType</key>
		<string>value</string>
		<key>Lower</key>
		<string></string>
		<key>Upper</key>
		<string></string>
		<key>Unit</key>
		<string></string>
		<key>ErrorCode</key>
		<string>FU000</string>
		<key>ResultSpec</key>
		<string></string>
		<key>From</key>
		<string></string>
		<key>To</key>
		<string></string>
		<key>HideOrShow</key>
		<string>show</string>
		<key>BreakOut</key>
		<false/>
		<key>TimeOut</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>TestItem</key>
		<string>curr1</string>
		<key>PDCA</key>
		<string></string>
		<key>PDCA_TYPE</key>
		<string></string>
		<key>Device</key>
		<string>INST</string>
		<key>Command</key>
		<string>INIT;FETC?</string>
		<key>Param</key>
		<string>WriteAndRead</string>
		<key>ResultType</key>
		<string>value</string>
		<key>Lower</key>
		<string>3</string>
		<key>Upper</key>
		<string>5</string>
		<key>Unit</key>
		<string>mA</string>
		<key>ErrorCode</key>
		<string>FU000</string>
		<key>ResultSpec</key>
		<string></string>
		<key>From</key>
		<string></string>
		<key>To</key>
		<string></string>
		<key>HideOrShow</key>
		<string>show</string>
		<key>BreakOut</key>
		<false/>
		<key>TimeOut</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>TestItem</key>
		<string>Discharge</string>
		<key>PDCA</key>
		<string></string>
		<key>PDCA_TYPE</key>
		<string></string>
		<key>Device</key>
		<string>MCU</string>
		<key>Command</key>
		<string>#Discharge*</string>
		<key>Param</key>
		<string>WriteAndRead</string>
		<key>ResultType</key>
		<string>string</string>
		<key>Lower</key>
		<string></string>
		<key>Upper</key>
		<string></string>
		<key>Unit</key>
		<string></string>
		<key>ErrorCode</key>
		<string>FU000</string>
		<key>ResultSpec</key>
		<string>DischargeOK</string>
		<key>From</key>
		<string>#</string>
		<key>To</key>
		<string>*</string>
		<key>HideOrShow</key>
		<string>show</string>
		<key>BreakOut</key>
		<false/>
		<key>TimeOut</key>
		<integer>6</integer>
	</dict>
	<dict>
		<key>TestItem</key>
		<string>vol2</string>
		<key>PDCA</key>
		<string></string>
		<key>PDCA_TYPE</key>
		<string></string>
		<key>Device</key>
		<string>INST</string>
		<key>Command</key>
		<string>INIT;FETC?</string>
		<key>Param</key>
		<string>WriteAndRead</string>
		<key>ResultType</key>
		<string>value</string>
		<key>Lower</key>
		<string>0</string>
		<key>Upper</key>
		<string>20</string>
		<key>Unit</key>
		<string>mV</string>
		<key>ErrorCode</key>
		<string>FU000</string>
		<key>ResultSpec</key>
		<string></string>
		<key>From</key>
		<string></string>
		<key>To</key>
		<string></string>
		<key>HideOrShow</key>
		<string>show</string>
		<key>BreakOut</key>
		<false/>
		<key>TimeOut</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>TestItem</key>
		<string>Voltage2</string>
		<key>PDCA</key>
		<string></string>
		<key>PDCA_TYPE</key>
		<string></string>
		<key>Device</key>
		<string>MCU</string>
		<key>Command</key>
		<string>#Vol2*</string>
		<key>Param</key>
		<string>WriteAndRead</string>
		<key>ResultType</key>
		<string>string</string>
		<key>Lower</key>
		<string></string>
		<key>Upper</key>
		<string></string>
		<key>Unit</key>
		<string></string>
		<key>ErrorCode</key>
		<string>FU000</string>
		<key>ResultSpec</key>
		<string>Vol2OK</string>
		<key>From</key>
		<string>#</string>
		<key>To</key>
		<string>*</string>
		<key>HideOrShow</key>
		<string>show</string>
		<key>BreakOut</key>
		<false/>
		<key>TimeOut</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>TestItem</key>
		<string>Set Power 2.5V</string>
		<key>PDCA</key>
		<string></string>
		<key>PDCA_TYPE</key>
		<string></string>
		<key>Device</key>
		<string>POWER</string>
		<key>Command</key>
		<string>SOUR:VOLT 2.5</string>
		<key>Param</key>
		<string>Write</string>
		<key>ResultType</key>
		<string></string>
		<key>Lower</key>
		<string></string>
		<key>Upper</key>
		<string></string>
		<key>Unit</key>
		<string></string>
		<key>ErrorCode</key>
		<string>FU000</string>
		<key>ResultSpec</key>
		<string></string>
		<key>From</key>
		<string></string>
		<key>To</key>
		<string></string>
		<key>HideOrShow</key>
		<string>show</string>
		<key>BreakOut</key>
		<false/>
		<key>TimeOut</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>TestItem</key>
		<string>Currrent2</string>
		<key>PDCA</key>
		<string></string>
		<key>PDCA_TYPE</key>
		<string></string>
		<key>Device</key>
		<string>MCU</string>
		<key>Command</key>
		<string>#Current2*</string>
		<key>Param</key>
		<string>WriteAndRead</string>
		<key>ResultType</key>
		<string>string</string>
		<key>Lower</key>
		<string></string>
		<key>Upper</key>
		<string></string>
		<key>Unit</key>
		<string></string>
		<key>ErrorCode</key>
		<string>FU000</string>
		<key>ResultSpec</key>
		<string>Current2OK</string>
		<key>From</key>
		<string>#</string>
		<key>To</key>
		<string>*</string>
		<key>HideOrShow</key>
		<string>show</string>
		<key>BreakOut</key>
		<false/>
		<key>TimeOut</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>TestItem</key>
		<string>config curr12</string>
		<key>PDCA</key>
		<string></string>
		<key>PDCA_TYPE</key>
		<string></string>
		<key>Device</key>
		<string>INST</string>
		<key>Command</key>
		<string>CONF:CURR:DC 0.1</string>
		<key>Param</key>
		<string>Write</string>
		<key>ResultType</key>
		<string>value</string>
		<key>Lower</key>
		<string></string>
		<key>Upper</key>
		<string></string>
		<key>Unit</key>
		<string></string>
		<key>ErrorCode</key>
		<string>FU000</string>
		<key>ResultSpec</key>
		<string></string>
		<key>From</key>
		<string></string>
		<key>To</key>
		<string></string>
		<key>HideOrShow</key>
		<string>show</string>
		<key>BreakOut</key>
		<false/>
		<key>TimeOut</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>TestItem</key>
		<string>curr2</string>
		<key>PDCA</key>
		<string></string>
		<key>PDCA_TYPE</key>
		<string></string>
		<key>Device</key>
		<string>INST</string>
		<key>Command</key>
		<string>INIT;FETC?</string>
		<key>Param</key>
		<string>WriteAndRead</string>
		<key>ResultType</key>
		<string>value</string>
		<key>Lower</key>
		<string></string>
		<key>Upper</key>
		<string></string>
		<key>Unit</key>
		<string>mA</string>
		<key>ErrorCode</key>
		<string>FU000</string>
		<key>ResultSpec</key>
		<string></string>
		<key>From</key>
		<string></string>
		<key>To</key>
		<string></string>
		<key>HideOrShow</key>
		<string>show</string>
		<key>BreakOut</key>
		<false/>
		<key>TimeOut</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>TestItem</key>
		<string>reset</string>
		<key>PDCA</key>
		<string></string>
		<key>PDCA_TYPE</key>
		<string></string>
		<key>Device</key>
		<string>MCU</string>
		<key>Command</key>
		<string>#Reset*</string>
		<key>Param</key>
		<string>WriteAndRead</string>
		<key>ResultType</key>
		<string>string</string>
		<key>Lower</key>
		<string></string>
		<key>Upper</key>
		<string></string>
		<key>Unit</key>
		<string></string>
		<key>ErrorCode</key>
		<string>FU000</string>
		<key>ResultSpec</key>
		<string>ResetOK</string>
		<key>From</key>
		<string>#</string>
		<key>To</key>
		<string>*</string>
		<key>HideOrShow</key>
		<string>show</string>
		<key>BreakOut</key>
		<false/>
		<key>TimeOut</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>TestItem</key>
		<string>Set Power Off</string>
		<key>PDCA</key>
		<string></string>
		<key>PDCA_TYPE</key>
		<string></string>
		<key>Device</key>
		<string>POWER</string>
		<key>Command</key>
		<string>OUTP:STATe 0</string>
		<key>Param</key>
		<string>Write</string>
		<key>ResultType</key>
		<string>string</string>
		<key>Lower</key>
		<string></string>
		<key>Upper</key>
		<string></string>
		<key>Unit</key>
		<string></string>
		<key>ErrorCode</key>
		<string>FU000</string>
		<key>ResultSpec</key>
		<string></string>
		<key>From</key>
		<string></string>
		<key>To</key>
		<string></string>
		<key>HideOrShow</key>
		<string>show</string>
		<key>BreakOut</key>
		<false/>
		<key>TimeOut</key>
		<integer>3</integer>
	</dict>
</array>
</plist>
